:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background: var(--Dark-cyan);
}

.top, 
.bottom {
    position: absolute;
}

.top {
    transform: translate(-35%,-45%);
    z-index: -1;
}

.bottom {
    bottom: 0;
    right: 0;
    transform: translate(25%,65%);
    z-index: -2;
}

@media screen and (max-width: 768px) {
    .top {
        transform: translate(-80%,-60%);
    }

    .bottom {
        transform: translate(75%,60%);
    }
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    background: white;
    border-radius: 12px;
    box-shadow: 8px 10px 24px rgba(0,0,0,0.1);
    min-width: 320px;
}

.card-top {
    position: relative;
    width: 100%;
    height: 130px;

    background-image: url(/images/bg-pattern-card.svg);
    background-size: contain;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.card-profile {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 5px;

    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%);
    background: white;
}

.card-profile img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.card-info {
    margin-top: 60px;
    height: 50px;
    display: grid;
    grid-template-columns: 60% auto;
}

.card-title {
    padding: 15px 0px;
    text-align: right;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.card-age {
    text-align: left;
    padding: 15px 10px;
    color: hsl(227, 10%, 46%);
}

.card-city {
    grid-column: span 2;
    text-align: center;
    font-size: 14px;
    color: hsl(227, 10%, 46%);
}

.card-stats {
    margin-top: 15px;
    padding: 25px 25px;
    border-top: 0.5px solid hsl(0, 0%, 70%);
    display: flex;
}

.stats {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.num {
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    margin-bottom: 5px;
}

.title {
    font-size: 12px;
    color: hsl(227, 10%, 46%);
}